* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f4f4f4;

}

.main-heading {
    text-align: center;
    margin-top: 20px;
    font-size: 2rem;
    color: #333;
}

.main-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}